*{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

html {
    background-color: #555;
}

/* .menu-wrap, .side-navbar, .slider{
    display: none;
} */

nav .brand-logo {
    margin-left: 10px;
}

.nav-wrapper {
    background-color: #004501;
}

.container {
    width: 80% !important;
}

.col.m12 {
    margin-top: 25px;
}

.title-style {    
    font-family: 'Caveat Brush', cursive;
}

span.title-style{
    font-size: 28px;
}

#span-text {
    width: 45%;
    font-size: 16px;
    text-shadow: 2px 2px 3px #555, 2px 2px 3px #555, 2px 2px 3px #555, 2px 2px 3px #555;
    text-align: justify;
}

.indicadores {
    z-index: 999;
}

.card-action {
    padding: 5px 15px !important;
}

.card-action a {
    font-family: 'Caveat Brush', cursive;
    font-size: 32px;
    color: #004501 !important;
    border-bottom: #004501 5px solid !important;
}

.card-image {
    overflow: hidden;
    max-height: 360px;
}

.card-content {
    background-color: #004501;
    float: right;
    position: relative;
    margin: -50px 10px 20px 0px;
    padding: 3px 10px 0px 10px !important;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500 !important;
    color: #fff;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #004501 !important;
}

@media only screen and (max-width: 800px) {
    .logo-png {
        width: 56px;
        height: 56px;
    }
    #icon-menu {
        margin-left: -5px;
        margin-right: 15px;
    }
}